$main-color: blue;
$sub-color: #eee;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

// 全体のレイアウト
.body__wrapper {
  header {
    width: 100%;
    position: fixed;
    z-index: 200;
  }
  main {
    width: 100%;
    min-height: 100vh;
    .main__wrapper {
      text-align: center;
      padding: 0 2vw;
      margin: 0 auto;
      .nav-icon {
        position: fixed;
      }
      .main__section {
        padding-top: 3.6rem;
        section {
          padding: 3vw 5vw;
        }
      }
    }
  }
  footer {
    margin: 0 2vw;
  }
}

//ヘッダ-
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
  height: 3.6rem;
  .header__nav {
    ul {
      display: flex;
      justify-content: end;
      li {
        padding: 0 2vw;
      }
    }
  }
}

//追従ナビ
.nav-icon {
  background-color: $main-color;
  position: fixed;
  margin-left: 1vw;
  margin-top: 35vh;
  padding: 1rem 0.6rem;
  z-index: 100;
  li {
    width: 1.6rem;
    padding: 0.6rem 0;
  }
}

//main__section
.main__section {
  .fv {
    height: 16vw;
    overflow: hidden;
    img {
      width: 100vw;
    }
  }
}

//blog
.blog {
  .blog__wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .blog__title {
    position: relative;
    .title__img {
      height: 11vw;
      overflow: hidden;
      img {
        width: 100vw;
      }
    }
    .title__text {
      position: absolute;
      top: 2vw;
      left: 25%;
      width: 50%;
      font-size: 3vw;
    }
  }
  .blog__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -3vw;
    padding: 0 2vw;
    z-index: 10;
    position: relative;
    li {
      width: 33%;
      height: 10vw;
      background: #fff;
    }
  }
}

//about
.about {
  .about__wrapper {
    display: flex;
    align-items: center;
    .about__left,
    .about__right {
      width: 50%;
    }
    .about__right {
      padding-left: 2vw;
      text-align: initial;
    }
  }
}
.footer {
  background-color: $main-color;
}

//contact
.contact {
  background: $sub-color;
  .contact__wrapper {
    display: flex;
    align-items: center;
    .contact__left,
    .contact__right {
      width: 50%;
    }
    .contact__left {
      text-align: initial;
      padding: 0 2vw;
    }
  }
}

// form
.form {
  display: grid;
  text-align: initial;
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    border: solid 1px #ddd;
    background: $sub-color;
    padding: 10px;
    font-size: 16px;
    outline: none;
    appearance: none;
    border-radius: 0;
    resize: none;
  }
  button {
    justify-self: start;
    border: none;
    background-color: $main-color;
    color: #fff;
    padding: 10px;
    font-size: 16px;
  }

  .submit {
    width: 100%;
    text-align: end;
  }
  button:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

@media screen and (max-width: 768px) {
}
