$main-color: blue;
$sub-color: yellow;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

// 全体のレイアウト
.body__wrapper {
  header {
    width: 100%;
    position: fixed;
    height: 50px;
  }
  main {
    width: 100%;
    min-height: 100vh;
    .main__wrapper {
      text-align: center;
      .nav-icon {
        position: fixed;
      }
      .main__section {
        padding-top: 50px;
      }
    }
  }
  footer {
    width: 100%;
  }
}

//ヘッダ
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  .header__nav {
    ul {
      display: flex;
      justify-content: end;
      li {
        padding: 0 12%;
      }
    }
  }
}

//追従ナビ
.nav-icon {
  background-color: $main-color;
  position: fixed;
  margin-left: 2%;
  margin-top: 25vh;
  padding: 20px 10px;
  li {
    width: 30px;
    padding: 5px 0;
  }
}
